spring:
  application:
    name: CartGalaxy

  datasource:
    url: jdbc:mysql://localhost:3306/cartgalaxy
    username: root
    password: root

  sql:
    init:
      mode: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: <sender-email>
    password: <passkey>

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

debug: true